.BottomNavigationContainer {
  height: 56px;
  background-color: white;
  /* border-top: 1px solid gray; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-left: 20px;
  padding-right: 20px; */
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: -1.1px;
  justify-content: center;
  align-items: center;
}
