.OCRSuggestions {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
}


.OCRSuggestionsHeaderRow {
  padding-top: 28px;
  padding-bottom: 28px;
}

.OCRSuggestionsInner {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 16px;
  padding-bottom: 16px;
    mask-image: linear-gradient(to bottom, transparent 0%,rgba(255, 255, 255, 0.2) 5%, white 15%,  white 85%, rgba(255, 255, 255, 0.2) 95%, transparent 100%);
}

.OCRSuggestionsLoadingComponent {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OCRSuggestionRow {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 36px;
  align-items: center;
  justify-content: space-between;
}
